@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/poppins");

body {
  margin: 0;
  font-size: 15px;
  background-color: darkslategray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg {
  color: #fff;
  border: 1px solid black;
  background-color: #000;
  border-radius: 2px;
}

:root {
  --width-df: min(1200px, 90vw);
  --diameter: 500px;
}

header {
  width: var(--width-df);
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

header .logo img {
  border-radius: 10px;
  width: 50px;
}

header .news {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 10% 90%,
    transparent
  );
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}

header .news .news-list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

header .news .news-list .lister {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1)
  );
}

header .news .news-list .lister div {
  width: 100%;
  margin-top: 10px;
  width: 250px;
  text-decoration: underline;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

header .news:hover .lister {
  animation-play-state: paused !important;
}

/* dropDown */

nav {
  cursor: pointer;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
  font-family: Poppins;
  background-color: transparent;
  right: 1px;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* slider section */

.slider {
  color: #eee;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -70px;
  position: relative;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .list .item .content {
  position: absolute;
  top: 20%;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: Poppins;
  text-shadow: 0 0 80px #000;
}

.slider .list .item .content h2 {
  font-size: 7em;
  font-family: "Bebas Neue";
  line-height: 0.9em;
  grid-row-start: 1;
  grid-row-end: 3;
}

.slider .list .item .content img {
  background-size: cover;
  background-position: center;
  width: 400px;
  margin-top: 100px;
  margin-right: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.slider .list .content p:last-child {
  display: flex;
  align-items: end;
  padding-bottom: 25px;
}

.slider .list .image {
  flex-shrink: 0;
  width: var(--diameter);
  height: var(--diameter);
  background-image: var(--url);
  background-position: center;
  background-size: var(--diameter) var(--diameter);
  border-radius: 50%;
  position: relative;
}

.slider .list .item .image::before,
.slider .list .item .image::after {
  position: absolute;
  width: 70%;
  height: 70%;
  content: "";
  border-radius: 50%;
  background-image: linear-gradient(to right, #0004, #0004),
    var(--url);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: var(--diameter) var(--diameter);
}

.slider .list .item .image::after {
  width: 30%;
  height: 30%;
  background-image: var(--url);
}

/* animation */

/* itme comes before item active */

.slider .list .content h2 {
  transform: translateY(-100%);
  transition: transform 1s;
}

.slider .list .content img {
  transform: translateY(-100%);
  transition: transform 1s;
}

.slider .list .content h3 {
  font-size: 2em;
  text-shadow: -2px 2px 9px rgba(0, 0, 0, 0.9);
}

.slider .list .content p {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: -2px 2px 9px rgba(0, 0, 0, 0.9);
}

.slider .list .content p::after {
  position: absolute;
  z-index: 1;
  content: attr(p-content);
  -webkit-text-stroke: 0.5px #fff;
  color: transparent;
}

.slider .list .item .image {
  transform: rotate(-60deg);
  filter: blur(30px);
  transition: 1s;
}

.slider .list .item .image::before {
  transform: translate(-50%, -50%) rotate(-120deg);
  transition: transform 1s;
}

.slider .list .item .image::after {
  transform: translate(-50%, -50%) rotate(170deg);
  transition: transform 1s;
}

.slider .list .item {
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
}

/* item active */
.slider .list .item.active {
  opacity: 1;
  pointer-events: auto;
}

.slider .list .item.active .content h2 {
  transform: translateY(0);
}

.slider .list .item.active .image {
  transform: rotate(0);
  filter: blur(0);
}

.slider .list .item.active .image::before,
.slider .list .item.active .image::after {
  transform: translate(-50%, -50%) rotate(0);
}

/* item after active item */

.slider .list .item.active ~ .item {
  opacity: 0;
}

.slider .list .item.active ~ .item .content h2 {
  transform: translateY(100%);
}

.slider .list .item.active ~ .item .content img {
  transform: translateY(100%);
}

.slider .list .item.active ~ .item .image {
  transform: rotate(60deg);
  filter: blur(30px);
}

.slider .list .item.active ~ .item .image::before {
  transform: translate(-50%, -50%) rotate(120deg);
}

.slider .list .item.active ~ .item .image::after {
  transform: translate(-50%, -50%) rotate(170deg);
}

/* arrows */

.arrows {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: var(--width-df);
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.arrows button {
  all: unset;
  cursor: pointer;
  background-color: #000;
  border-radius: 2px;
  border: solid 1px #fff;
  display: flex;
}

.slider .list .model {
  position: absolute;
  bottom: 0;
  left: 47%;
  transform: translateX(-50%);
  width: min(800px, 100vw);
  z-index: 1;
  height: 80%;
  background-size: cover;
  background-position: top;
  pointer-events: none;
  animation: showModel 1s ease-in-out 1 forwards;
}

@keyframes showModel {
  from {
    transform: translateX(-50%) scale(1.5) translateY(88px);
  }
}

.arrows button.d-none {
  opacity: 0;
  pointer-events: none;
}

/* responsive */

/* tablet screen */
@media all and (max-width: 1024px) {
  .slider .list .item .content {
    grid-template-columns: repeat(2, 300px);
    gap: 120px;
  }

  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;
    font-family: Poppins;
    background-color: transparent;
    right: 1px;
  }

  .slider .list .item .content h2 {
    font-size: 5.55em;
  }
}

/* handphone screen */
@media all and (max-width: 767px) {
  .slider .list .item .content {
    grid-template-columns: 80vw;
    gap: 40px;
    top: 70px;
  }

  .slider .list .item .content h2 {
    font-size: 4em;
  }

  .slider .list .item .content p {
    font-size: small;
    text-align: right;
    padding-left: 25%;
    transform: translateY(-30px);
    z-index: 1;
  }

  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;
    font-family: Poppins;
    background-color: transparent;
    right: 1px;
  }

  .slider .list .item .content img {
    background-size: cover;
    background-position: center;
    width: 250px;
    margin-top: 150px;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 5px;
  }

  .slider .list .model {
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateX(-50%);
    width: min(800px, 100vw);
    z-index: 1;
    height: 70%;
    background-size: cover;
    background-position: top;
    pointer-events: none;
    animation: showModel 1s ease-in-out 1 forwards;
  }
}
